/*General stylings*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.highlight {
  background-color: silver;
}

/*All the header stuff*/

header {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
}

.logo {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

header nav a {
  color: black;
  text-decoration: none;
  padding: 0 0.5rem;
}

/*This is the main banner*/

.banner {
  background-color: silver;
}

.cta {
  flex-direction: column;
  align-content: center;
  width: 40%;
}

.cta h1 {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

.cta h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
}

.button a {
  width: 30%;
  padding: 0.5rem 7.25rem;
  border-radius: 5px;
  background-color: gray;
  color: white;
  text-decoration: none;
}

/*This is the bit with the main article and the column*/

.information {
  align-items: flex-start;
  background-color: white;
}

.main img {
  width: 100%;
}

.title {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0 1.5rem 0;
}

.column {
  height: auto;
  width: 40%;
  margin: 0 0;
  flex-direction: column;
  padding-top: 1rem;
}

.article {
  height: auto;
}

.article img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.article .text {
  width: 65%;
}

.text h3 {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.text p {
  padding-bottom: 0.5rem;
}

.more {
  color: skyblue;
  text-decoration: none;
}

.byline {
  padding-top: 2rem;
}

/*This is the Start Learning part*/

.learning {
  background-color: silver;
  flex-direction: column;
  align-items: center;
}

.grid {
  padding: 2rem 4.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.course {
  width: 30.5%;
  background-color: white;
  margin: 1rem;
}

.course img {
  width: 100%;
}

.course .text {
  padding: 1rem 1.5rem 1.5rem 1rem;
}

.course h3 {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
}

.learning .title {
  padding-bottom: 0;
}

/*This is the Thesis exhibit*/

.thesis {
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.exhibit {
  align-items: flex-start;
}

.main video {
  width: 100%;
  margin: 0 0 0 0;
}

.thesis .title {
  padding-bottom: 0;
}

h2.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/*This is the footer section*/

footer {
  border-top: 1px solid silver;
  padding: 1rem 1.5rem 4.5rem 1.5rem;

  justify-content: space-between;
}
