/*Final version*/

/*General stylings*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

.main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.main p {
  line-height: 1.4;
}

.highlight {
  background-color: #C5C1C0;
}

/*All the header stuff*/

header {
  height: 4rem;
  background-color: #FFF;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
}

.logo {
  color: #1A2930;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo .thin {
  color: #F7CE3E;
  font-weight: 400;
}

header nav a {
  color: #0A1612;
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: all 0.5s ease;
}

header nav a:last-child {
  color: #FFF;
  background-color: #F7CE3E;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

header nav a:hover {
  color: #FFF;
  background-color: #1A2930;
  border-radius: 1.5rem;
  padding: 0.5rem;
  transition: all 0.5s ease;
}

header nav a:active {
  background-color: #F7CE3E;
  transition-property: background;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.mobile {
  display: none;
}

/*This is the main banner*/

.banner {
  background-color: #1A2930;
}

.cta {
  color: #FFF;
  flex-direction: column;
  align-items: center;
  width: 40%;
  font-family: "Poppins";
}

.cta h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1.5rem 0;
}

.cta h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
}

.button a {
  font-size: 1rem;
  padding: 0.5rem 6rem;
  border-radius: 1.5rem;
  color: #FFF;
  background-color: #F7CE3E;
  text-decoration: none;
  transition: all 0.5s ease;
}

.button a:hover {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.75rem 7rem;
  color: #0A1612;
  background-color: #FFF;
}

.button a:active {
  font-size: 1rem;
  padding: 0.5rem 6rem;
}

/*This is the bit with the main article and the column*/

.information {
  align-items: flex-start;
  background-color: #FFF;
}

.main img {
  width: 100%;
}

.title {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0 1.5rem 0;
  color: #1A2930;
}

.column {
  height: auto;
  width: 40%;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
}

.article {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.article:hover {
  background-color: #F7CE3E;
  padding: 1rem 0 1rem 0;
}

.article img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

img.mobile {
  display: none;
}

.article .text {
  width: 65%;
  padding-right: 1rem;
}

.text h3 {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.text p {
  padding-bottom: 0.5rem;
}

.more {
  color: #4484CE;
  text-decoration: none;
}

.byline {
  padding-top: 2rem;
}

/*This is the Start Learning part*/

.learning {
  flex-direction: column;
  background-color: #F7CE3E;
}

.grid {
  padding: 2rem 4.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.course {
  width: 30.5%;
  color: #1A2930;
  background-color: #FFF;
  margin: 1rem;
  transition: all 0.5s ease-out;
}

.course:hover {
  width: 31%;
  margin: 0.8rem;
}

.course img {
  width: 100%;
}

.course .text {
  height: 9rem;
  padding: 1rem 2rem 1.5rem 1rem;
}

.course h3 {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
}

.course p {
  line-height: 1.3;
}

.learning .title {
  padding-bottom: 0;
}

/*This is the Thesis exhibit*/

.thesis {
  background-color: #FFF;
}

.exhibit {
  align-items: flex-start;
}

.main video {
  width: 100%;
  margin: 0;
}

.thesis .title {
  padding-bottom: 0;
}

h2.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/*This is the footer section*/

footer {
  color: #FFF;
  background-color: #1A2930;
  border-top: 1px solid silver;
  padding: 1rem 1.5rem 4.5rem 1.5rem;
  justify-content: space-between;
}

footer nav a {
  padding-left: 1rem;
  color: #FFF;
  text-decoration: none;
}

/*These are the media queries*/

@media only screen and (max-width: 1273px) {
  .grid {
    padding: 2rem 1rem;
  }

  .course {
    width: 25%;
  }

  .course:hover {
    width: 26%;
    margin: 0.5rem 0.6rem;
  }

  .course .text {
    height: 11rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    display: none;
  }

  nav.mobile {
    display: contents;
  }

  nav img {
    padding: 0 1rem;
  }

  .main {
    width: 50%;
  }

  .cta {
    width: 40%;
  }

  .cta h1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 0;
  }

  .cta h2 {
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 2.5rem;
  }

  .button a {
    padding: 0.5rem 2rem;
  }

  .button a:hover {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.75rem 2.5rem;
    color: #0A1612;
    background-color: #FFF;
  }

  .byline {
    display: none;
  }

  .information,
  .exhibit {
    justify-content: space-between;
  }

  .grid {
    padding: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .course {
    margin: 1rem;
  }

  .course:hover {
    width: 26%;
    margin: 0.5rem 0.7rem;
  }

  .course .text {
    height: 5rem;

  }

  .course .text p {
    display: none;
  }
}

@media only screen and (max-width: 700px) and (min-width: 551px) {
  .cta h1 {
    padding: 0 1rem 3rem 0;
  }

  .cta h2 {
    display: none;
  }

  .information {
    align-items: flex-start;
  }

  .main h1 {
    font-size: 2rem;
  }

  .article h3 {
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .article p {
    display: none;
  }

  .course h3{
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 550px) {
  .logo span {
    display: none;
  }

  .banner {
    flex-direction: column;
  }

  .banner .main {
    width: 100%;
    margin: 0;
  }

  .cta {
    width: auto;
    margin: 2rem 1rem;
  }

  .cta h1 {
    padding: 0 0 2rem 0;
  }

  .button a:hover {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.75rem 3rem;
    color: #0A1612;
    background-color: #FFF;
  }

  .button a:active {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }

  .information .main {
    display: none;
  }

  .column {
    padding: 0 1rem 0 1rem;
    width: 100%;
  }

  .article {
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
  }

  .article:hover {
    background-color: #FFF;
    padding: 1rem 1rem 2rem 1rem;
  }

  .article .text {
    width: 100%;
    padding-left: 1rem;
  }

  .article img {
    display: none;
  }

  img.mobile {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .highlight {
    background-color: white;
  }

  .grid {
    width: 90%;
    padding: 1rem 1rem 2rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  .course {
    height: 3.3rem;
    width: 100%;
    background-color: #FFF;
    margin: 0 0 0.5rem 0;
  }

  .course:hover {
    width: 100%;
    height: 4rem;
    margin: 0 0 0.5rem 0;
    padding-top: 0.4rem;
  }

  .course .text {
    width: 100%;
    padding: 1rem;
  }

  .course img,
  p {
    display: none;
  }

  .title {
    font-size: 2rem;
  }

  .exhibit .column {
    display: none;
  }

  .exhibit .main {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }

  .main h2 {
    display: none;
  }

  footer {
    border: none;
    padding: 1rem 1.5rem;
  }

  footer p {
    font-size: 0.8rem;
    display: block;
  }

  footer nav{
    display: none;
  }
}
